requests>=2.31.0
geocoder>=1.38.1
flask>=2.3.0

#TTS and Speech Recognition
pyttsx3>=2.90
pyaudio>=0.2.11
SpeechRecognition>=3.10.0

# Installation notes:
#for raspberry pi: because its externally manager and debian you need virtual env for python
# For macOS: brew install portaudio (required for pyaudio)
# Then: pip install -r requirements.txt
#ollama linux: curl -fsSL https://ollama.com/install.sh | sh
#ollama pull gemma:2b